*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	/*height: 100%;
	width: 100%;*/
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
* ul{
	text-decoration: none;
	margin: 0;
	padding: 0;
}
body{
  background: color:#fff;
}
/*Перший блок*/
header {
  background-image: url(images/coffee-shop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 98%;
  position: relative;
  margin: 15px auto 0 auto;
  }
 .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 30%;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  font-family: 'Playfair Display';
  font-weight: 700;

}
.navigation a:hover {
	transition: 0.3s;
  cursor: pointer;
  color: #f5d76e;
}
 .logo{
  margin-top: 31px;
  margin-left: 7.38637%;
  margin-right: 3.9712%; 
  position: relative;
}
 .welcome {
 	font-family: 'Playfair Display';
 	font-weight: 700;
 	color: #f5d76e;
 	font-size: 48px;
 	line-height: 24px;
 	margin-left: 165px;
 	margin-top: 171px;

 	}
 	.welcom{
 	 font-family: 'Lato';
 	 font-size: 16px ;
 	line-height: 24px;
 	color:#fff;
 	margin-left: 165px;	
 	margin-top: 27px;
 	}
 	.btn1{
        font-family: 'Lato';
 		border: 2px solid #fff;
 		background-color: rgba(0,0,0,0);
 		color: #fff;
 		padding:16px 58px;
 		margin-left: 165px;
 		margin-top:37px;
 	}
  /*Адаптив до 1 блоку*/
  @media (max-width: 1199px) {
    .navigation{
     padding: 0 25%;
    }
  }
  @media(max-width: 991px) {
  .navigation{
     padding: 0 17%;
    }
    .navigation a {
      font-size: 15px;
    }
}
@media (max-width: 767px) {
  .navigation{
     padding: 0 10%;
    }
    .navigation a {
      font-size: 16px;
    }
    .welcome {
      font-size: 30px;
    }
    .welcom{
      font-size: 13px;
    }
}
@media (max-width: 650px) {
  .logo{
      display: none;
    }
    .welcome{
      margin-left:90px;
    }
    .welcom{
      margin-left: 90px;
    }
    .btn1{
      padding: 12px 42px;
    }
}
@media (max-width: 480px) {
  .welcome{
      margin-left:65px;
    }
    .welcom{
      margin-left: 65px;
    }
    .navigation{
      padding: 0 6%;
    }
  }
   @media (max-width: 440px) {
    .welcome{
      margin-left:40px;
      font-size:  27px;
    }
    .welcom{
      margin-left: 40px;
      font-size:  12px;
}
.navigation{
      padding: 0 5%;
    }
    .btn1{
     margin-left: 40px;
    }
}
 	/*Другий блок*/
 	.header{
 		text-align: center;
    margin: 95px 13px 0px;
 	}
 	.header-h2{
 		color: #2f2f2f;
 		font-family: 'Playfair Display';
 	    font-weight: 700;
 	    font-size: 30px;
 	    line-height: 24px;
 	  text-align: center;
 	  margin-bottom: 39px;

 	}
   .sub-header{
   	color: #28211f;
   	font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
   }
   .image{
   	text-align: center;
   	margin-top: 75px;
   }
    /*Адаптив до 2 блоку*/
    @media (max-width: 480px) {
     .header-h2{
      font-size: 24px;
     }
     .sub-header{
      font-size: 12px;
      
     }
    }
   /*Третій блок*/
   .menu-h2{
   	color: #2f2f2f;
   	font-family: 'Playfair Display';
 	font-weight: 700;
 	font-size: 30px;
 	line-height: 24px;
 	text-align: center;
 	text-transform: uppercase;
 	margin-top: 75px;
   }
   .menu{
   	margin-top: 58px ;
    margin-bottom: 42px;
   	display: flex;
   	flex: row wrap;
   	justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
   }
      .menu-coffee{
      background: url(images/cup-of-coffee.png) center no-repeat;
      opacity: 0.2;
            }
      .menu-tea{
      	background: url(images/cup-tea.png) center no-repeat;
      opacity: 0.3;
      }
      .menu-desert{ 
      	background:url(images/placeholder-desert.png) center,
      url(images/dessert.png) center no-repeat;
      opacity: 0.9;
      position: relative;
      }
      .menu-coffee, .menu-tea, .menu-desert{
    	width: 413px;
         height: 295px;
      }
      .header-coffee{
      position: absolute;
      margin: 135px 9.4143%;
      }
      .header-tea{
      position: absolute;
      margin: 135px 12.0088%;
      }
      .header-desert{
       position: absolute;
       z-index: 40;
       margin: 135px 7.17423133%;
      }
    .header-coffee, .header-tea, .header-desert{
    	 
      	opacity: 1;
      	font-family: 'Playfair Display';
 	font-weight: 700;
 	font-size: 40px;
 	line-height: 24px;
 	text-transform: uppercase;

      }
    .list-of-menu {
     display: flex;
     justify-content: space-around;
     align-items: center;
    }
    .list-of-menu-desserts{
   display: flex;
   justify-content: space-between;

    }
    .list-of-menu-coffee{
     display: flex;
    }
    .list-of-menu-tea{
     display: flex;
    }
    .list-of-menu-desserts, .list-of-menu-coffee, .list-of-menu-tea{
    	 display: flex;
    	 flex-direction: row;
    	 flex-wrap: nowrap;
    	  justify-content: space-between;
    	 width: 232px;
    }
    
   .list-of-menu, ul {
   	font-family: 'Lato', sans-serif;
    line-height: 28px;
    list-style: none;
   	 }
   ul, .list{
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   	font-size: 14px;
   }
   ul, .price{
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   font-size: 13px ;
   }
   .see-full{
   	font-family: 'Lato', sans-serif;
   	font-weight: 700;
   	 font-size: 12px ;
   	text-transform: uppercase;
   	padding: 19px 65px;
   	background: rgba(0, 0, 0, 0);
   	border:1.5px solid #39312f;
   	margin: 70px auto;
    color: #39312f;
    display: flex;
    justify-content: center;  
   }
 .bg-coffee{
 	text-align: center;
 }
 /*Адаптив до 4 блоку*/
  @media(max-width: 1220px) {
   .menu-desert, .menu-tea, .menu-coffee{
    width: 385px;
  }
  }
  @media (max-width: 1199px) {
  .menu-desert, .menu-tea, .menu-coffee{
    width: 315px;
    background-position: center;
  }
  .header-coffee{
   margin: 135px 7.4143%;
  } 
    .header-tea{
   margin: 135px 11.0044%;
  } 
      .header-desert{
        margin: 135px 5.47423133%;
  }
}
  @media (max-width: 992px) {
  .menu{
    flex-direction: column;
}
.menu-coffee, .menu-tea, .menu-desert{
display: inline-block;
height: 265px;
margin-left: 15px; 
}
  .list-of-menu{
    height: 664px;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin-top:   -760px;
    margin-right:   14px;
  }
  .header-coffee, .header-tea, .header-desert{
    margin-top: 115px;
  }
  .header-coffee{
     margin-left:   9.8%;
      } 
      .header-tea{
       margin-left:  13.8%;
        } 
        .header-desert{
        margin-left:  5.8%;
        }
  .see-full{
    margin-top: 145px  ;
  }
}
  @media (max-width: 768px) {
    .header-coffee{
     margin-left:   11.5%;
      } 
      .header-tea{
       margin-left:  16.5%;
        } 
        .header-desert{
        margin-left:  7%;
        }
  }
  @media (max-width: 650px) {
  .menu{
    margin-bottom: 15px;
    height: 1150px;
    align-items: center;
    justify-content: space-between;
    margin-top:  52px;
    margin-left:  0;
     
  }
  .header-coffee{
     margin-left:   17%;
      } 
      .header-tea{
      margin-left: 22.5%;
        } 
        .header-desert{
        margin-left:  12%;
        }
        .list-of-menu{
           height: 980px;
          align-items: center;
          justify-content: space-between;
          margin-top:   -870px;

        }
        .header-coffee, .header-tea, .header-desert{
          display: flex;
          justify-content: center ;
        }
        .see-full{
          margin-top: 95px;
        }
  }
  @media (max-width: 600px) {
   .header-coffee{
    margin-left:  17.6%;
   }
   .header-tea{
      margin-left: 24.1%;
        } 
  }
  @media (max-width: 480px) {
.header-coffee{
     margin-left:   19%;
      } 
      .header-tea{
      margin-left: 27%;
        } 
        .header-desert{
        margin-left:  14%;
        }
  }
  @media (max-width: 430px) {
    .header-coffee{
     margin-left:   22%;
      } 
      .header-tea{
      margin-left: 32%;
        } 
        .header-desert{
        margin-left:  16%;
        }
      }
        @media (max-width: 380px) {
    .header-coffee{
     margin-left:   26.5%;
      } 
      .header-tea{
      margin-left: 38%;
        } 
        .header-desert{
        margin-left:  19%;
      }
  }
 /*Четвертий блок*/
 .header-testimonials{
    font-family: 'Playfair Display';
 	font-weight: 700;
 	font-size: 32px;
 	line-height: 24px;
 	text-align: center;
 	text-transform: uppercase;
 	margin-top: 75px;
   }
   .bg-testimonials{
    display: flex;
    width: 98%;
    margin: 60px auto 80px auto;
    height: 428px;
    position: relative;

   }
   .bg-testimonials-1{
   background-color: #39312f;
   height: 425px;
   width: 35.8267717%;
   position: absolute;
   right: 0;	
   }
   .bg-testimonials-2{
   	background: url(images/hands-with-cofee.png) center  no-repeat;
   	background-size: cover ;
   	height: 425px;
   	width: 64.1732283%;
    position: absolute;
   }
   .bg-testimonials-01{
   	font-family: 'Playfair Display';
 	  font-weight: 700;
 	  font-size: 88px;
 	  line-height: 21px;
 	  text-transform: uppercase;
 	  position: absolute;
 	  color:rgba(255, 255, 255, 0.031);
    margin-left: 31px;
 	  top:32px;
    }
    .bg-testimonials-02{
   	 font-family: 'Playfair Display';
 	font-weight: 700;
 	color: #3f3736;
 	text-transform: uppercase;
 	position: absolute;
 	bottom: 25px;
 	right: 25px;
 	}	
  .slider{
    position: absolute;
    width: 268px;
    height: 268px;
    top: 98px;
    right: 22.22222%;
  }
 	.slick-list {
 		overflow: hidden;
 	}
 	.slick-track{
 		display: flex;
 	}
  .slider-img{
 display: block;
    margin-left: auto;
    margin-right: auto;
  }
 .slider h3{
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f5d76e;
    text-align: center;
    margin: 15px auto; 
  }
  .slider p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
     font-size: 16px ;
     line-height: 21px;
     color:#fff;
   width: 98%; 
}
   .slider .slick-dots{
   	display: flex;
   	align-items: center;
   	justify-content: center;
    position: absolute;
     left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
   }
   .slider .slick-dots li{
   list-style: none;
   margin: -9px 5px;

   }
   .slider .slick-dots button{
   	font-size: 0;
   	width: 	8px;
   	height: 8px;
   	background-color: #fff;
    border-radius: 50%;
       }
   .slider .slick-dots li.slick-active button{
   	background-color: transparent;
   	border: 1px solid #fff;
   }
   /*Адаптив до 4 блоку*/
    @media (max-width: 1199px) {
    .bg-testimonials-01{
      right: 25px;
    }
    .slider{
      width: 58.9010989%;
    }
    .slick-dots{
        bottom: 0;
    }
    }
    @media (max-width: 1135px) {
    .bg-testimonials-01, .bg-testimonials-02{
     display: none;
   }
    }
    @media (max-width: 897px) {
    .slider{
      height: 300px;
      top: 68px;
    }
    }
    @media (max-width: 780px) {
    .bg-testimonials{
      flex-direction: column;
      height: 850px;
    }
        .bg-testimonials-1{
          width: 100%;
          bottom: 0 ;
                }
              .bg-testimonials-2{
              width: 100%;
              }
              .slider{
            height: 268px;
             top: 98px;

    }
    .slider .slick-dots{
     left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
     }
.slick-dots{
  bottom: 0;
}
    }
   /*Пятий блок*/
   .header-location{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 30px;
    line-height: 24px;
    color: #28211f;
    margin: 82px auto 0px auto;
    text-align: center;
   }
   .location{
    width: 97.6923077%;
    height: 425px;
    position: relative;
    margin-top: 60px ;
    margin-bottom:  15px;
    margin-left: 1.111%;
    margin-right: 1.111%;
   }
   .bg-location-1{
    background: url(images/map.png) center no-repeat;
    width: 63.7795276%;
   position: absolute;
   height: 423px;  
   right: 0;
   top: 0;
   }
   .bg-location-2{
    background-color: #f5d76e;
     width: 36.2204724%;
    position: absolute;
    height:  423px;
   }
   .bg-location-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 76.08695652173913%;
    height: 270px;
    margin-top: 60px;
    margin-left: 14.1304348%;
   }
   .bg-location-item-Sunday{
    margin-top: -10px;
  }
   .bg-location-item h3{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    line-height: 28px;
    font-size: 20px;
      color: #28211f;
   }
   .bg-location-item span{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
   color: #28211f;
   }
    /*Адаптив до 5 блоку*/
   @media (max-width: 768px) {
    .location{
    height: 700px;
    }
    .bg-location-1{
      height: 350px  ;
      width:  100%;
      top:   350px;
    }
    .bg-location-2{
      height:  350px ;
      width: 100%;  
      top: 0;
    }
   }
   @media (max-width: 360px) {
   .location{
    height: 670px;
    }
    .bg-location-1{
      height: 335px  ;
      top: 334px;
    }
    .bg-location-2{
      height:  335px ;
    }
    .bg-location-item{
    height: 245px;
  }
   }  
  /*Подвал*/
  .bg-footer{
    background-color: #39312f;
    height: 320px;
    width: 100%;
    position: relative;
  }
  .footer-socials {
  min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 35.5%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
}
  .footer-socials img:hover {
  color:#f5d76e;
  cursor: pointer;
  transition: 0.1s;
}
.footer-nav{
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   font-size: 16px;
  line-height: 24px;
text-align: center;
color: #ffffff;
padding-top:163px; 
margin: 0px 34.5%;
position: absolute;
}
 /*Адаптив до підвалу*/
@media (max-width: 500px)  {
  .bg-footer{
  height: 280px;
}
  .footer-socials{
   top: 30%;
  }
  .footer-nav{
    padding-top: 130px;
  }
}
